
.btn {
    display: inline-block;
    position: relative;

    padding: 1.2rem 3rem;

    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    font-size: 2rem;
    
    transition: all 0.2s;
    backface-visibility: hidden;


    &--full {
        text-decoration: none;
        color: $color-white;
        background-color: $color-primary;
        padding: .5rem 3rem;
        
        &:hover, 
        &:active {
            transform: scale(1.1);;

        }
    }

    &--ghost {
        margin-right: 2rem;

        color: $color-white;
        border: 1px solid $color-white;
        background-color: transparent;

        &:hover {
            transform: translateY(-0.4rem);
            color: $color-primary-light;
            border: 1px solid $color-white;
            background-color: $color-white;
            box-shadow: 0 0.8rem 2rem rgba($color-black, 0.2);
        }

        &:active {
            transform: translateY(-0.15rem);
        }

        @include respond(tab-land) {
            font-size: 1.8rem;
        }
    } 
}

.btn-text {
    &:link,
    &:visited {
        display: inline-block;
        position: relative;
        
        padding: 0.4rem 1rem;

        color: $color-primary;
        border: 1px solid $color-primary;

        text-transform: uppercase;
        text-decoration: none;
        font-weight: 300;
        font-size: 1.8rem;
        
        transition: all 0.2s;
        backface-visibility: hidden;
    }

    &:hover {
        color: $color-white;
        background-color: $color-primary;
    }

    &:active {
        transform: translateY(1px);
        transition: transform 0.1s;
    }

    &--blue {
        &:link,
        &:visited {
            color: rgb(58, 55, 221);
            border: 1px solid rgb(58, 55, 221);
        }

        &:hover {
            color: $color-white;
            background-color: rgb(58, 55, 221);
        }

        &:active {
            transform: translateY(1px);
            transition: transform 0.1s;
            
        }
    }
}