
.btn {
    &:link,
    &:visited {
        display: inline-block;
        position: relative;

        padding: 1.2rem 3rem;

        text-transform: uppercase;
        text-decoration: none;
        font-weight: 300;
        font-size: 2rem;
        
        transition: all 0.2s;
        backface-visibility: hidden;

        
    }

    &:hover {
        transform: translateY(-0.4rem);

        background-color: $color-white;
        box-shadow: 0 0.8rem 2rem rgba($color-black, 0.2);
        
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-0.15rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
        transition: transform 0.1s;
    }

    &::after {
        content: "";
        display: inline-block;

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        border-radius: 10rem;
        
        z-index: -1;
        transition: all .4s;
    }

    &--full {
        margin: 1rem auto;

        text-decoration: none;
        color: $color-white;
        background-color: $color-primary;
        
        &:hover, 
        &:active {
            color: $color-primary;
            background-color: $color-white;
            border: 1px solid $color-primary;

            transform: none;
            box-shadow: none;
        }
    }

    &--ghost {
        margin-right: 2rem;

        color: $color-white;
        border: 1px solid $color-white;
        background-color: transparent;

        &:hover, 
        &:active {
            color: $color-primary-light;
            border: 1px solid $color-white;
        }
    } 
}

.btn-text {
    &:link,
    &:visited {
        display: inline-block;
        position: relative;
        
        padding: 0.4rem 1rem;

        color: $color-primary;
        border: 1px solid $color-primary;

        text-transform: uppercase;
        text-decoration: none;
        font-weight: 300;
        font-size: 1.8rem;
        
        transition: all 0.2s;
        backface-visibility: hidden;
    }

    &:hover {
        color: $color-white;
        background-color: $color-primary;
    }

    &:active {
        transform: translateY(1px);
        transition: transform 0.1s;
    }

    &--blue {
        &:link,
        &:visited {
            color: rgb(58, 55, 221);
            border: 1px solid rgb(58, 55, 221);
        }

        &:hover {
            color: $color-white;
            background-color: rgb(58, 55, 221);
        }

        &:active {
            transform: translateY(1px);
            transition: transform 0.1s;
        }
    }
}