.composition {
    position: relative;
    margin-left: 6rem;
    margin-top: 2.5rem;


    &__photo {
        width: 50%;
       
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        transition: all 0.20s;
        z-index: 10;
        outline-offset: 1.2rem;
        &--p1 {
            width: 48%;
            left: 0;
            top: -2rem;   
            
        }
        &--p2 {
            width: 48%;
            left: 15%;
            top: 6.5rem;   
        }
        &--p3 {
            width: 48%;
            left: 52%;
            top: 2rem;   
        }

        &:hover {
            outline: 0.5rem solid $color-primary;
            transform: scale(1.08) translateY(-0.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            z-index: 20;
            
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }

    @include respond(tab-port) {
        width: 90%;
        margin: 0 auto;
        &__photo {
            position: relative;
            display: inline-block;
        
            &--p1 {
                height: 30rem;
                width: 30%;   
                left: 0;
                top: 0;  
                object-fit: cover;
            }
            &--p2 {
                height: 30rem;
                width: 30%;
                left: 0;
                top: 0;   
                object-fit: cover; 
            }
            &--p3 {
                height: 30rem;
                width: 30%; 
                left: 0;
                top: 0;   
                object-fit: cover;  
                text-align: right;
            }
            &:not(:last-child) {
                margin-right: 4%;
            }
         }
    }

    @include respond(small-phone) {
        &__photo {

            &--p1 {
                height: 10rem;
            }
            &--p2 {
                height: 10rem;
            }
            &--p3 {
                height: 10rem;
            }
            &:not(:last-child) {
                margin-right: 3%;
            }

            &:hover {
                outline: 0 solid transparent;
                transform: scale(1.7) translateY(-0.5rem);
            }
        }
    }
}