.composition {
    position: relative;
    margin-left: 10rem;
    margin-top: 2.5rem;

    &__photo {
        width: 50%;
       
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        transition: all 0.15s;
        z-index: 10;
        outline-offset: 1.2rem;

        &--p1 {
            left: 0;
            top: -2rem;   
            
        }
        &--p2 {
            width: 60%;
            left: 20%;
            top: 5rem;   
        }
        &--p3 {
            width: 55%;
            left: 60%;
            top: 2rem;   
        }

        &:hover {
            outline: 0.5rem solid $color-primary;
            transform: scale(1.08) translateY(-0.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            z-index: 20;
            
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }
}