.js--animate-1 {
  opacity: 0; }

.animateLeft {
  animation: moveInLeft 0.8s ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc($animations-delay + 0.1s); }

.animateRight {
  animation: moveInRight 0.8s ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc($animations-delay + 11) s; }

.animateBottom {
  animation: moveInBottom 0.8s ease-out;
  animation-fill-mode: backwards;
  animation-delay: 0.4s; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: white;
  box-sizing: border-box; }

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  margin-top: 0;
  margin-bottom: 2rem;
  word-spacing: 4px;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    opacity: 0;
    font-size: 5.5rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    animation-fill-mode: backwards; }
  .heading-primary--sub {
    opacity: 0;
    display: block;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1rem; }

.heading-section {
  display: block;
  margin: 0 0 2.5rem 0;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #333;
  font-size: 3.5rem;
  font-weight: 400;
  word-spacing: 4px;
  letter-spacing: 2px;
  text-transform: capitalize;
  backface-visibility: hidden; }
  .heading-section:after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 2px;
    border-bottom: 2px solid #BF045B; }
  .heading-section--white {
    color: white; }
    .heading-section--white:after {
      border-bottom: 2px solid white; }

.heading-column {
  margin-bottom: 1rem;
  color: #333;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 2.8rem;
  backface-visibility: hidden; }

.heading-small {
  color: #333;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 2.8rem;
  backface-visibility: hidden; }
  .heading-small--sub {
    font-size: 1.6rem;
    font-weight: 300;
    word-spacing: 2px; }
    .heading-small--sub:hover {
      color: #D91882; }

.paragraph {
  font-size: 1.8rem;
  text-align: justify;
  font-weight: 300; }

.higlighted-text {
  font-size: 1.8rem;
  font-weight: 400; }

.u-centered-text {
  text-align: center; }

.u-left-text {
  text-align: left; }

.u-margin-bottom-small {
  margin-bottom: 0.8rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 5rem; }

.u-justified-text {
  text-align: justify; }

.u-hide {
  opacity: 0;
  transition: opacity 0.4s; }

.u-padding-left-small {
  padding-left: 5rem; }

.btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  padding: 1.2rem 3rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  font-size: 2rem;
  transition: all 0.2s;
  backface-visibility: hidden; }

.btn:hover {
  transform: translateY(-0.4rem);
  background-color: white;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.15rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: transform 0.1s; }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  z-index: -1;
  transition: all .4s; }

.btn--full {
  margin: 1rem auto;
  text-decoration: none;
  color: white;
  background-color: #BF045B; }
  .btn--full:hover, .btn--full:active {
    color: #BF045B;
    background-color: white;
    border: 1px solid #BF045B;
    transform: none;
    box-shadow: none; }

.btn--ghost {
  margin-right: 2rem;
  color: white;
  border: 1px solid white;
  background-color: transparent; }
  .btn--ghost:hover, .btn--ghost:active {
    color: #D91882;
    border: 1px solid white; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  position: relative;
  padding: 0.4rem 1rem;
  color: #BF045B;
  border: 1px solid #BF045B;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.8rem;
  transition: all 0.2s;
  backface-visibility: hidden; }

.btn-text:hover {
  color: white;
  background-color: #BF045B; }

.btn-text:active {
  transform: translateY(1px);
  transition: transform 0.1s; }

.btn-text--blue:link, .btn-text--blue:visited {
  color: #3a37dd;
  border: 1px solid #3a37dd; }

.btn-text--blue:hover {
  color: white;
  background-color: #3a37dd; }

.btn-text--blue:active {
  transform: translateY(1px);
  transition: transform 0.1s; }

.logo {
  display: inline-block;
  padding: 30px 0;
  font-weight: 900;
  font-size: 180%;
  transition: color 0.2s;
  color: white;
  margin: 0;
  letter-spacing: 3px; }

.logo-icon {
  text-transform: none; }

/* =======> Main Navigation */
.nav {
  float: right;
  list-style: none;
  margin-top: 4.1rem; }
  .nav li {
    display: inline-block;
    margin-left: 40px; }
    .nav li a:link, .nav li a:visited {
      text-decoration: none;
      letter-spacing: 0.8px;
      color: rgba(255, 255, 255, 0.75);
      text-transform: uppercase;
      font-size: 90%;
      border-bottom: 2px solid transparent;
      transition: all 0.3s;
      padding: 8px 10px; }
    .nav li a:hover, .nav li a:active {
      border-bottom: 2px solid #BF045B;
      color: white; }

.sticky-nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #333; }

.composition {
  position: relative;
  margin-left: 10rem;
  margin-top: 2.5rem; }
  .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.20s;
    z-index: 10;
    outline-offset: 1.2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      width: 60%;
      left: 20%;
      top: 5rem; }
    .composition__photo--p3 {
      width: 55%;
      left: 60%;
      top: 2rem; }
    .composition__photo:hover {
      outline: 0.5rem solid #BF045B;
      transform: scale(1.08) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.card-box {
  width: 100%;
  background-color: white;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s; }
  .card-box__title-box {
    padding-bottom: 1rem;
    background-image: linear-gradient(to right, #bf045b, #d91882);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    width: 100%; }
  .card-box__title {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 1.5rem 2.5rem; }
    .card-box__title:after {
      content: "";
      display: block;
      width: 50%;
      margin: 0.5rem auto;
      height: 1px;
      background-image: linear-gradient(90deg, transparent, #fff, transparent); }
  .card-box__price-box {
    background-color: #9e034b;
    margin-top: -2rem;
    padding-top: 2rem;
    width: 100%; }
  .card-box__price {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 1rem 2.5rem;
    letter-spacing: 2px; }
    .card-box__price .less-imp {
      font-weight: 300;
      color: #f4f4f4;
      text-transform: lowercase; }
  .card-box__features {
    text-decoration: none;
    font-size: 1.9rem; }
    .card-box__features li {
      display: block;
      padding: 1.4rem 2rem;
      text-align: center;
      transition: background-color 0.2s; }
      .card-box__features li:nth-child(even) {
        background-color: #f2f2f2; }
      .card-box__features li:last-child {
        padding-bottom: 1.5rem; }
      .card-box__features li:hover {
        background-color: rgba(217, 24, 130, 0.1);
        border-left: 2px solid #BF045B; }
  .card-box__button:link, .card-box__button:visited {
    display: block;
    position: relative;
    padding: 1.2rem 0;
    background-color: #BF045B;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    transition: all 0.2s;
    backface-visibility: hidden; }
  .card-box__button:hover {
    background-color: #D91882;
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.2); }
  .card-box__button:active {
    transform: translateY(-0.15rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: transform 0.1s; }
  .card-box:hover {
    box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.3);
    transform: translateY(-1rem); }

.reviews-box {
  margin-bottom: 10rem; }
  .reviews-box::after {
    content: "";
    display: table;
    clear: both; }
  .reviews-box__photo-box {
    width: 20rem;
    height: 20rem;
    overflow: hidden; }
  .reviews-box__photo {
    width: 100%;
    object-fit: cover; }

.loader-box {
  position: fixed;
  top: 50%;
  left: 44%;
  transition: opacity .2s;
  transform: translateY(-100%); }

.loader {
  font-size: 10px;
  margin: 0;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #BF045B;
  background: -moz-linear-gradient(left, #BF045B 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #BF045B 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #BF045B 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #BF045B 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #BF045B 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader:before {
  width: 50%;
  height: 50%;
  background: #BF045B;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: ''; }

.loader:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.table--ghost {
  font-weight: 300;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
  .table--ghost td, .table--ghost th {
    border: 1px solid #ddd;
    padding: 8px; }
    .table--ghost td:first-child, .table--ghost th:first-child {
      padding-right: 8rem; }
  .table--ghost tr {
    transition: all 0.08s; }
    .table--ghost tr:nth-child(even) {
      background-color: #f2f2f2; }
    .table--ghost tr:hover {
      background-color: rgba(191, 4, 91, 0.1);
      border: 1px solid #BF045B; }
  .table--ghost th {
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #BF045B;
    color: white; }
  .table--ghost .cell--red {
    color: red;
    font-weight: 400; }
  .table--ghost .cell--highlighted {
    font-weight: 400; }

.header {
  background-color: #BF045B;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0)), url(img/bg_blurred.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh; }
  .header__nav-box {
    width: 70vw;
    display: block;
    margin: 0 auto; }
  .header__text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 6rem) / 4) + 2 * 6rem); }

.section--white {
  padding: 5rem 0 11rem 0;
  background-color: white; }

.section--grey {
  padding: 5rem 0 11rem 0;
  background-color: #f4f4f4; }

.section-paintings {
  width: 100vw;
  display: block; }
  .section-paintings::after {
    content: "";
    display: table;
    clear: both; }
  .section-paintings__photo-box {
    background-color: #1f001b;
    display: block;
    width: 25%;
    height: 30rem;
    margin: 0;
    padding: 0;
    float: left;
    overflow: hidden; }
  .section-paintings__photo {
    opacity: 0.65;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s; }
    .section-paintings__photo:hover {
      transform: scale(1.1);
      opacity: 0.8; }

.section-exhibitions .btn-text {
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 1.6rem;
  float: right;
  word-spacing: 0.6rem; }

.section-membership .btn {
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  display: block;
  text-align: center; }

.section-reviews {
  padding: 5rem 0 11rem 0;
  background-image: linear-gradient(rgba(36, 0, 29, 0.7), rgba(34, 0, 29, 0.7)), url(img/reviews-bg-min.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  background-attachment: fixed; }

.footer {
  background-color: #333; }
