
body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.7;
    color: $color-grey-dark; 
}



.heading-primary {
    margin-top: 0;
    margin-bottom: 2rem;
    word-spacing: 4px;
    letter-spacing: 2px;
    
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;

        font-size: 5.5rem;
        font-weight: 300;
        letter-spacing: 0.5rem;

        animation: moveInLeft 0.8s ease-out;
        animation-fill-mode: backwards;
        animation-delay: 0.5s;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 1rem;
        animation: moveInRight 0.8s ease-out;
        animation-fill-mode: backwards;
        animation-delay: 0.5s;
    }
}

.heading-section {
    display: block;
    margin: 0 0 2.5rem 0;

    padding-left: 3rem;
    padding-right: 3rem;

    color: $color-grey-dark;
    
    font-size: 3.5rem;
    font-weight: 400;
    word-spacing: 4px;
    letter-spacing: 2px;
    text-transform: capitalize;
    backface-visibility: hidden;

    &:after {
        content: " ";
        display: block;
        margin: 0 auto;
        
        width: 20%;
        height: 2px;
        
        border-bottom: 2px solid $color-primary;
    }
}

.heading-column {
    margin-bottom: 1rem;
    
    color: $color-grey-dark;
    
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2.8rem;
    backface-visibility: hidden;
}

.heading-small {
    color: $color-grey-dark;
    
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2.8rem;
    backface-visibility: hidden;
}

.paragraph {
    font-size: 1.8rem;
    text-align: justify;
    font-weight: 300;
}