.section {
    
    &--white {
        padding: $gutter-section-start 0 $gutter-section-end 0;
        background-color: $color-white;

        @include respond(tab-land) {
            padding: 3.5rem 0 8rem 0;
        }
        @include respond(tab-port) {
            padding: 3rem 0 6rem 0;
        }

        
    }

    &--grey {
        padding: $gutter-section-start 0 $gutter-section-end 0;
        background-color: $color-grey-light;

        @include respond(tab-land) {
            padding: 3.5rem 0 8rem 0;
        }
        @include respond(tab-port) {
            padding: 3rem 0 6rem 0;
        }

    }

    &-about {
        .btn-text {
            margin-bottom: 5rem;

            @include respond(tab-port) {
                margin-bottom: 0;
            }
        }

        
        
    }

    &-paintings {
        
        width: 100vw;
        max-width: 100%;
        display: block;
        @include clearfix;
        
        
        &__photo-box {
            background-color: #1f001b;
            display: block;
            width: 25%;
            height: 30rem;
            margin: 0;
            padding: 0;
            float: left;
            overflow: hidden;

            @include respond(tab-land) {
                height: 20rem;
            }
            @include respond(tab-port) {
                height: 15rem;
            }
        }

        &__photo {
            
            opacity: 0.65;
            width: 100%;
            height: 100%;


            object-fit: cover;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.1);
                opacity: 0.8;
            }
        }
    }

    &-exhibitions {
        font-size: 1.8rem;;
        .btn-text {
            margin-top: 2rem;
            margin-right: 2rem;
            font-size: 1.6rem;
            float: right;
            word-spacing: 0.6rem;

        }
    }

    &-membership {
        .btn {
            padding: 0.8rem 2rem;
            font-size: 1.6rem;
            display: block;
            text-align: center;
        }
    }

    &-reviews {
        padding: $gutter-section-start 0 $gutter-section-end 0;
        background-image: linear-gradient(rgba(36, 0, 29, 0.7), rgba(34, 0, 29, 0.7)), url(img/reviews-bg-min.jpg);
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size:cover;
        background-size: cover;
        background-position: center;
        color: white;
        background-attachment: fixed;
        
        @include respond(tab-land) {
            padding: 3.5rem 0 8rem 0;
        }
        @include respond(tab-port) {
            padding: 3rem 0 6rem 0;
        }
    }

    &-prices {
        @include respond (small-phone) {
            .row {
                padding: 0 1.5rem;
            }
        }
    }

}

.footer {
    background-color: $color-grey-dark;

    &__links {
        width: 60%;
        list-style: none;
        margin: 2rem 0;
        display: block;
        height: 4rem;
        
        
        a {
            padding: 0.3rem 1.2rem;
            margin: 0.7rem 0.8rem;
            float: left;
            text-decoration: none;
            color: #a7a7a7;
            transition: all 0.3s;
            border-bottom: 1px solid transparent;
            &:hover {
                color: $color-white;
                border-bottom: 1px solid $color-primary;
            }
        }
    }

    &__author {
        text-align: left;
        color: white;
        margin-top: 0;
        padding-left: 2rem;
        padding-bottom: 4rem;
    }

}
